ion-header{
    ion-toolbar{
        --background: rgb(82, 54, 206);
        font-family: 'Florence Sans', sans-serif;
        ion-title{
            font-size: 20px;
            font-family: 'Florence Sans', sans-serif;
        }
        ion-back-button{
            color: white;
            font-family: 'Florence Sans', sans-serif;
        }
    }
}

ion-content{
    --background: rgb(161, 160, 224);
    ion-card{
        --background: rgb(82, 54, 206);
    ion-item{
        --background: rgb(82, 54, 206);
        font-family: 'Florence Sans', sans-serif;
        font-size: 15px;
        margin-right: 10px;
        ion-label{
            font-size: 17px;
            font-family: 'Florence Sans', sans-serif;

        }
    }
}
    ion-button{
        font-size: 20px;
        max-width: 200px;
        margin-left: 25%;
        font-family: 'Florence Sans', sans-serif;
    }
}

@font-face {
    font-family: 'Florence Sans';
    src: url('../fonts/14910_Florsn02.ttf')
}