<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cambiar Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-item>
    <ion-label>Nombre de Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="username" required></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Nueva Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword" required></ion-input>
  </ion-item>
  <br>
  </ion-card>
  <ion-button expand="full" (click)="changePassword()" shape="round" color="tertiary">Guardar</ion-button>
</ion-content>
