ion-header{
    ion-toolbar{
        --background: rgb(70, 204, 228);
    }
}
ion-content{
    --background: rgb(255, 255, 255);
    ion-item{
        --background: rgb(255, 255, 255);
        font-size: 15px;
        ion-label{
            font-size: 20px;
            color: black;
        }
        ion-input{
            color: black;
        }
    }
    a{
        color: rgb(0, 0, 0);
        text-align: center;
        margin-left: 22.5%;
    }
    ion-button{
        font-size: 20px;
    }
}