<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Clase Registrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Datos clase:</p>
      {{ datosEscaneados }}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Datos alumno:
      <ng-container *ngIf="loggedInUser">
        <p>Nombre: {{ loggedInUser.username }}</p>
        <p>Rut: {{ loggedInUser.rut }}</p>
        <p>Latitud: {{loggedInUser.latitude}}</p>
        <p>Longitud: {{loggedInUser.longitude}}</p>
      </ng-container>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="cerrarSesion()" shape="round" color="secondary">Cerrar Sesión</ion-button>
</ion-content>

 


