<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title>Clase Registrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Datos clase:
    </ion-card-content>
    <ion-card-content>
      {{ datosEscaneados }}
    </ion-card-content>
    <ion-card-content>
      Datos alumno:
    </ion-card-content>
    <ion-card-content>
      Nombre: {{ loggedInUser.username }},
      Rut: {{ loggedInUser.rut }}
    </ion-card-content>
  </ion-card>
</ion-content>

