ion-header{
    ion-toolbar{
        --background: rgb(70, 204, 228);
        ion-title{
            text-align: center;
        }
    }
}

ion-content{
    
    --background: rgb(255, 255, 255);
    ion-card{
        animation: animacion2 2s ease-out;
        margin-top: 15%;
        --background: rgb(70, 204, 228);
        font-size: 15px;
        color: white;

        ion-card-content{
            font-size: 20px;
        }

        p{
            --background: rgb(70, 204, 228);
            color: white;
            font-size: 20px;
        }
        
    }
}

@keyframes animacion2 {
    0% {
      transform: translateX(-80%);
    }
  }