<ion-header>
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrar()">
        >
      </ion-button>
    </ion-buttons>
    <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <div>
    <video #video playsinline autoplay></video>
    <canvas #canvas style="display: none;"></canvas>
  </div>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="startScanning()" color="tertiary">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
